<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to 'index' class="navbar-brand"}}Roster{{/link-to}}
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Teams</a></li>
        <li>{{#link-to 'settings' class="settings-link"}}Settings{{/link-to}}</li>
        <li>{{#link-to 'profile' class="profile-link"}}Profile{{/link-to}}</li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    {{outlet}}
  </div>
</div>
